/vendor/
/node_modules/
/.env
/.env.*
/.phpunit.result.cache
/.php-cs-fixer.cache
/.idea/
/.vscode/
/.fleet/
/.DS_Store
Thumbs.db
/npm-debug.log*
/yarn-error.log
/composer.phar
/public/hot
/public/storage
/public/build
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/.cache/
/.turbo

